.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}

.header-image {
  width: 500px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 0px;
  margin-top: 3px;
}


.header {
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  align-items: center;
  color: rgb(223, 172, 94);
  font-weight: bold;
  font-family: UnifrakturCook;
  font-size: 50px;
  background-color: rgb(46, 26, 18);
  width: 100%;
  border: 10px solid rgb(210, 145, 65);
  border-radius: 8px;

}